In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('NYC_Dog_Licensing_Dataset_.csv')

/var/folders/v2/9k8drrwj5h39kpr935vvx6j80000gn/T/ipykernel_22556/3073573986.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('NYC_Dog_Licensing_Dataset_.csv')

In [3]:
df.dtypes

AnimalName             object
AnimalGender           object
AnimalBirthYear        object
BreedName              object
ZipCode               float64
LicenseIssuedDate      object
LicenseExpiredDate     object
Extract Year            int64
dtype: object

In [4]:
df.head(100)

,AnimalName,AnimalGender,AnimalBirthYear,BreedName,ZipCode,LicenseIssuedDate,LicenseExpiredDate,Extract Year
0,PAIGE,F,2014,American Pit Bull Mix / Pit Bull Mix,10035.0,09/12/2014,09/12/2017,2016
1,YOGI,M,2010,Boxer,10465.0,09/12/2014,10/02/2017,2016
2,ALI,M,2014,Basenji,10013.0,09/12/2014,09/12/2019,2016
3,QUEEN,F,2013,Akita Crossbreed,10013.0,09/12/2014,09/12/2017,2016
4,LOLA,F,2009,Maltese,10028.0,09/12/2014,10/09/2017,2016
...,...,...,...,...,...,...,...,...
95,SPUDS,M,2010,Bulldog,10461.0,09/17/2014,09/17/2017,2016
96,BOO,F,2013,Labradoodle,11211.0,09/17/2014,09/17/2019,2016
97,SAMMY,M,2006,Shiba Inu,10011.0,09/17/2014,10/31/2016,2016
98,MAX,M,2005,Pug,10025.0,09/17/2014,10/30/2016,2016
99,WALTER,M,2010,American Pit Bull Terrier/Pit Bull,11375.0,09/17/2014,05/17/2019,2016

In [5]:
df.keys()

Index(['AnimalName', 'AnimalGender', 'AnimalBirthYear', 'BreedName', 'ZipCode',
       'LicenseIssuedDate', 'LicenseExpiredDate', 'Extract Year'],
      dtype='object')

### üõ†Ô∏è Step 1: Fix the Data Types for Each Column

Ensure all columns have the correct data types to support accurate analysis:
- Convert dates (e.g., `LicenseIssuedDate`) to `datetime`
- Convert numeric values (e.g., `AnimalBirthYear`) to `int`
- Convert `ZipCode` to string to preserve leading zeros and allow proper grouping

In [6]:
# Convert dates to datetime
df['LicenseIssuedDate'] = pd.to_datetime(df['LicenseIssuedDate'], errors='coerce')
df['LicenseExpiredDate'] = pd.to_datetime(df['LicenseExpiredDate'], errors='coerce')

In [7]:
# Convert birth year to numeric
df['AnimalBirthYear'] = pd.to_numeric(df['AnimalBirthYear'], errors='coerce')

In [8]:
# Convert zip code to string so we can group by it without decimal places
df['ZipCode'] = df['ZipCode'].astype('Int64').astype(str)

In [9]:
df['BreedName'] = df['BreedName'].str.strip()
df['AnimalGender'] = df['AnimalGender'].str.strip()

In [10]:
df.dtypes

AnimalName                    object
AnimalGender                  object
AnimalBirthYear              float64
BreedName                     object
ZipCode                       object
LicenseIssuedDate     datetime64[ns]
LicenseExpiredDate    datetime64[ns]
Extract Year                   int64
dtype: object

### Step 2: Check for Full Row Duplicates

Instead of checking for duplicates column by column (which might drop valid but similar entries like dogs with the same name), we checked for **exact duplicate rows**. 

For example, there might be two dogs named Luna, but they could have different birth years, breeds, or license dates, so we **only dropped rows that were completely identical across all columns**, ensuring no meaningful data was lost.

In [11]:
df.duplicated().sum()

np.int64(40545)

In [12]:
df = df.drop_duplicates()

In [13]:
df.duplicated().sum()

np.int64(0)

### üêæ Step 3: Create Age Groups for Dogs

We used the `ApproxDogAge` column to categorize dogs into meaningful life stages. This helps support business questions about age distribution and trends.

We defined age bins as follows:
- `0‚Äì1` ‚Üí Puppy  
- `2‚Äì3` ‚Üí Young  
- `4‚Äì6` ‚Üí Adult  
- `7‚Äì10` ‚Üí Senior  
- `10+` ‚Üí Elderly  

We also ensured proper display by replacing any special en dashes (‚Äì) with regular hyphens (-) to avoid formatting issues in Excel.

In [14]:
df['LicenseIssuedYear'] = df['LicenseIssuedDate'].dt.year
df['ApproxDogAge'] = df['LicenseIssuedYear'] - df['AnimalBirthYear']

In [15]:
df['DogAgeGroup'] = pd.cut(
    df['ApproxDogAge'],
    bins=[0, 1, 3, 6, 10, 20],
    labels=['0-1 (Puppy)', '2-3 (Young)', '4-6 (Adult)', '7-10 (Senior)', '10+ (Elderly)'],
    include_lowest=True
)
# Clean encoding for Excel display
df['DogAgeGroup'] = df['DogAgeGroup'].str.replace('‚Äì', '-', regex=False)

### Step 4: Identify and Handle Missing Values

We checked for missing data across all columns to understand where information was incomplete.

Key findings:
- `AnimalName` had 1,709 missing entries ‚Äî we decided to keep these since a name doesn't affect license validity.
- `AnimalGender`, `AnimalBirthYear`, and `LicenseExpiredDate` had fewer missing values but were important for analysis.

To maintain data quality:
- We dropped rows where **any of these 3 key columns** were missing:  
  `AnimalBirthYear`, `LicenseExpiredDate`, `AnimalGender`.

In [16]:
df.isnull().sum()

AnimalName            1709
AnimalGender            21
AnimalBirthYear         30
BreedName                0
ZipCode                  0
LicenseIssuedDate        0
LicenseExpiredDate      79
Extract Year             0
LicenseIssuedYear        0
ApproxDogAge            30
DogAgeGroup            423
dtype: int64

In [17]:
df[df[['AnimalBirthYear', 'LicenseExpiredDate', 'AnimalGender']].isnull().any(axis=1)].shape[0]

130

This step removed 130 rows, ensuring our data remains reliable for further analysis.

In [18]:
# Keep only rows where all three of these values are filled in. Otherwise, lose 130 rows! 
df = df.dropna(subset=['AnimalBirthYear', 'LicenseExpiredDate', 'AnimalGender'])

### Step 5: Clean Invalid ZIP Codes

To ensure accuracy in geographic analysis, we filtered the ZIP codes so that only valid entries remain.

- A valid NYC ZIP code must be **5 digits** long.
- Some rows had invalid or missing ZIP codes (like `0`, `100`, or empty), which we removed.

In [19]:
df = df[df['ZipCode'].str.len() == 5]

### Step 6: Validate Extract Year

We found rows where the `Extract Year` didn't make logical sense. For example, if a dog's license expired in 2021 but the extract year was 2022, that implies the license was still active ‚Äî which can't be true.

‚úÖ Our fix:
- We ensured the extract year falls between the license issue and license expiration years

In [20]:
# Extract the year from issued and expired dates
df['IssueYear'] = df['LicenseIssuedDate'].dt.year
df['ExpireYear'] = df['LicenseExpiredDate'].dt.year

# Keep only rows where extract year is between issue and expire years
df = df[
    (df['Extract Year'] >= df['IssueYear']) &
    (df['Extract Year'] <= df['ExpireYear'])
]

In [21]:
#its redundant
df = df.drop(columns=['LicenseIssuedYear'])

In [22]:
import re

# Replace all variations with the word "Mix"
df['BreedName'] = (
    df['BreedName']
    .astype(str)  # ‚úÖ Force everything to string
    .str.replace(r'\b(Mix|Crossbreed|Cross|X)\b', 'Mix', regex=True)
    .str.replace(r'\s+', ' ', regex=True)
    .str.strip()
    .str.title()
)

In [30]:
from thefuzz import process

# unique_breeds = df['BreedName']
unique_breeds = df['BreedName'].dropna().astype(str).unique()
# choose a reference list of "cleaned" breeds
reference_breeds = [
    'Airedale Terrier', 'Airedale Terrier Mix',
    'American Eskimo Mix', 'American Ekimo',
    'American Pit Bull Terrier Mix',
    'American Staffordshie Terrier','American Staffordshie Terrier Mix',
    'Australian cattle dog', 'Basset Hound', 'Australian Shepherd', 'Berger Picard', 
    'Bichon Poodle', 'Bichon Shih Tzu', 'Bichon Frise', 'Yorkie Bichon', 'Catahoula leopard',
    'Cavalier King Charles Spaniel', 'Chihuahua', 'Chihuahua Mix', 'long-haired Chihuahua', 'Border Collie',
    'Coton de Tulear','Cockapoo', 'Toy Australian Shepherd', 'Dachshund smooth coat', 'Golden Retrievers', 'Goldendoodle', 'Miniature Goldendoodles',
    'chinese crested', 'German Shepherd', 'Corgi German Shepherd', 'Husky German Shepherd', 'jack russell chihuahua', 'labrador retriever', 'Yorkie Poodle',
    'Spanish Water Dog', 'small munsterlander', 'Shorkie', 'Shitzu Poodle', 'Pitbull pointer', 'Teacup Poodle', 'Pekapoo', 'jack russell',
    'Lhasapoo', 'Maltipoo', 'mini pinscher', 'Mixed', 'mini labradoodle', 
]
breed_map = {}
for breed in unique_breeds:
    match, score = process.extractOne(breed, reference_breeds)
    if score >= 85:  # Match threshold
        breed_map[breed] = match

# Step 5: Apply cleaned breed names ‚Äî fallback to original if no match
df['CleanedBreedName'] = df['BreedName'].apply(lambda x: breed_map.get(x, x))

# Step 6 (optional): Check unmatched entries
unmatched_breeds = set(unique_breeds) - set(breed_map.keys())
print(f"\n‚úÖ Total unique breeds: {len(unique_breeds)}")
print(f"üü° Matched breeds: {len(breed_map)}")
print(f"‚ùå Unmatched breeds (still messy): {len(unmatched_breeds)}")
print(unmatched_breeds)

‚úÖ Total unique breeds: 1137
üü° Matched breeds: 671
‚ùå Unmatched breeds (still messy): 466
{'Coonhound, Treeing Walker', 'Peek -A-Poo', 'Schipperkee', 'Pug/Beagle', 'Jack Russ / Chih', 'Cur', 'Beauceron', 'Alaskan Klee Kai', 'Hungarian Puli', 'Cavazoo', 'Neapolitan Mastiff', 'Pek-A-Tese', 'Shi-Poo', 'Taiwan Mountain', 'Blue Heeler / Schnauser', 'Schipperke', 'Puli', 'Shihpoo', 'Mutt', 'Shih Tzu / Yorkie', 'Standard Schnauzer', 'Norwegian Elkhound', 'Fox Hound', 'Yorkshire Terri', 'Borzoi', 'Ibizan Hound', 'Malshipoo', 'Estrela Mountain Dog', 'Finnish Lapphund', 'Cardigan Welsh Corgi', 'Peagle', 'Other', 'Multi', 'Lab/Doberman/Sheepdog', 'Papillon', 'Sharpei-Beagle', 'Saint Bernard', 'Belgian Sheepdog', 'Dachshaun/Poodle', 'Thai Ridgeback', 'French Bulldog', 'Bouvier Des Flandres', 'Beagle', 'Gordon Setter', 'Pug-Bijon', 'Pyrenean Mastiff', 'Polish Hound', 'Poodle/Westie', 'Hovawart', 'Shicon', 'West High White Terrier', 'Maltese', 'Mi-Ki', 'Maltese/Yorkie', 'Golden Retr/Cattle Dog', 'Collie, Bearded', 'Lhasa Apso/Pood', 'Italian Spinone', 'Aust.Cattle Dog', 'Havapeke', 'Wirehaired Vizsla', 'Dachshund / Doxie', 'Pharoh Hound', 'Shih/Maltese', 'Belgian Griffon', 'Norwegian Buhund', 'Dachshund-Scottie', 'Hunting Dog/Rescue', 'Yorki-Poo', 'Presa Canario', 'Bulldog', 'Yorkshire/Maltese', 'Mastiff, Neapolitan', 'English Shepher', 'Collie / Retreiver', 'Hound Mastiff', 'Brauzer', 'Spinone Italiano', 'Coonhound, Black And Tan', 'English Setter', 'Westie-Poodle', 'Portuguese Water Dog', 'Yorkie/Maltese', 'Schnauzer/Poodle', 'Morky', 'Perro De Presa Canario', 'Dachshund, Long Haired', 'Cocker-Poo', 'Dach / Chih', 'Jindo Dog, Korea', 'Breed Information Not Provided.', 'Chihua/Ter/Dsch', 'Shiba Inu', 'Shinese', 'Pharaoh Hound', 'Shiffon', 'Poodle/Pompoo', 'Rottweiler', 'St. Bernard', 'Austrian Hunting', 'Great Dane', 'Part Golden Retriever', 'Blue Nose Pitbull', 'Royal Bah Potca', 'Maltese/Shitzu', 'Alaskan Malamute', 'Nova Scotia Toller', 'Akita', 'Shihtzu-A-Poo', 'Peak-A-Poo', 'Lab Terr X', 'Mini Aust.Shepherd', 'Sapsal, Korea', 'Havapoo', 'Labrador/G.Shep', 'Podengo Pequeno', 'Westminster Ter', 'Coonhound, Blue Tick', 'Pembroke Welsh Corgi', 'Cattle Dog - Blue Healer', 'French Poodle', 'Treeing Walker Coonhound', 'Slorky', 'Maltese/ Yorkie', 'Curly-Coated Retriever', 'Plott', 'Labrador/Cattle Dog', 'Redbone Coonhound', 'Irish Setter', 'Canine', 'Greek Shephard', 'Havachon', 'Bichon F/T Pdle', 'Shep/Doxie', 'French Beagle', 'Breed ?', 'Cava-Poo', 'Rat Terr', 'Kromfohrlander', 'Poodle, Miniature', 'Shorky', 'Giant Schnauzer', 'Whoodle', 'Cockalier', 'Yorkie/Shih Tzu', 'Labradoodle', 'Softc Wheat Ter', 'Jap Chin / Maltese', 'Cross Breed', 'Lhasa Apso /Shih Tzu', 'Multi-Poo', 'Pomapoo', 'Bloodhound', 'Labrado/Great D', 'Black And Tan Coonhound', 'Maltese-Pomeranian', 'Stabyhoun', 'Bergamasco', 'Standard Poodle', 'Red Tick Coonhound', 'Chi-Yorkie', 'Shihtese', 'Malte-Poo', 'Maltese/Cav Kin', 'Snoodle', 'Malkie', 'Mastiff/Shepherd', 'Lab Gold Ret Cross', 'Entlebucher Mountain Dog', 'Japanese Chin', 'Puggle', 'Hamiltonstovare', 'Boerboel', 'Peek-A-Poo', 'Cane Corso', 'Chow Chow', 'Yorky', 'Potcake', 'Yorkiepoo', 'Maltese Shihtzu', 'Unknown', 'Yorkieshire Maltese', 'Coonhound, Redbone', 'Peke-A-Tese', 'Boxer/Pitt', 'Blackmouthcur', 'Schnoodle', 'Eurasier', 'Lancashire Heeler', 'Cavapoo', 'Jack Rus Chihua', 'Yorkshi/Maltese', 'Whippet', 'Dachshund, Wirehaired', 'Maltese/Poodle,Toy', 'Eng Springer Spaniel', 'Jagdterrier', 'Yorkie Rat Terr', 'Mini Doberman', 'Xoloitzcuintli', 'Collie, Rough Coat', 'Shihmalt', 'Flat-Coated Retriever', 'Mudi', 'Yorkie/ Maltese', 'Pomtese', 'Mini Labra-Doodle', 'Scott Terr/Shih Tsu', 'Dachs/Shih Tzu', 'Tibetan Mastiff', 'Cavashon', 'Maltese / Poo', 'Teddy Bear', 'Not Provided', 'Lhasa Apso/Poodle', 'Shih Tzu/Papillion', 'Afghan Hound', 'Bernese Mountain Dog', 'Boston Bulldog', 'Cigi', 'Chintese', 'Cav Kc', 'Poodle, Standard', 'Westi-Poo', 'Min Pi N/Poodle', 'Havanese', 'Vizsla', 'Finnish Spitz', 'Beagle/Hound', 'Australian Kelpie', 'Sharpei / Puggle', 'Wirehaired Pointing Griffon', 'Doberman', 'Pomeranian', 'No Idea', 'Karelian Bear Dog', 'Cavachon', 'Malti-Shi', 'Kuvasz', 'Malsish', 'British Lab', 'Chih Terr', 'Am Eskimo / Maltese', 'Mastiff, Old English', 'Lab Weimarner', 'Collie / Lab', 'Askal', 'Germ Shep/Siberian Husky', 'Chi-Poo', 'English Pointer', 'Bugg', 'Engish Pointer', 'Fox/Sheltie', 'Belgian Laekenois', 'Formosan Mountain', 'Schnauzer', 'English Cocker Spaniel', 'Labrador/ Shih Tzu', 'Bearded Collie', 'Chinook', 'Ori Pei', 'Dogue De Bordeaux', 'Kai Ken', 'Swedish Vallhund', 'Spinone', 'Briard', 'Dogo Argentino', 'Polish Lowland Sheepdog', 'Olde English Bulldogge', 'Shih Tzu/Yorkie', 'Hound Beagle', 'Maltes/Shih Tzu', 'Beagle / Dachshund', 'Welsh Corgi, Pembroke', 'Peke-A-Poo', 'Tosa', 'Icelandic Sheepdog', 'Bost Terr/Lhasa', 'Great Pyrenees', 'French Bulldog/Pug', 'Bluetick Coonhound', 'Welsh Springer Spaniel', 'Havashire', 'Shih Tzu/Maltese', 'Maltese/Havanese', 'Miniature Schnauzer', 'Sheltie Poo', 'Fila Brasileiro', 'Chiweenie', 'Cocoer-Poo', 'Japanese Chin/Spaniel', 'Maltese/Shih Tzu', 'Mini Golden Doodle', 'Chi/Doxen', 'Pompoo', 'Terr / Shep', 'Irish Jack Russ', 'Italian Greyhound', 'Mini Labradoodle', 'Newfoundland', 'Zuchon', 'Lhatese', 'Schnauzer, Giant', 'Gold Retr/Chow', 'English Pug', 'Mastiff, Tibetan', 'Lhasa Apso/Terr', 'English Mastiff', 'Morkie', 'Pug', 'Affenpinscher', 'Unknown (Stray)', 'Maltese / Shih Tzu', 'Pitbull-Bulldog', 'Labradoodle Mini', 'Bolognese', 'Corgy / Labrador', 'Mini Bulldog', 'Azawakh', 'Yellow Lab', 'Shepherd Pintzer', 'Havadoodle', 'Schnauzer, Miniature', 'Lowchen', 'Boston Terr/Min Boxer', 'Shiht-Zu Imperial', 'Lab Bord Collie', 'German Pinscher', 'Smooth Hair Fox Terrier', 'Baladi', 'Brussels Griffon', 'Papitese', 'Bichon/Cairn', 'Mastiff', 'Polanese', 'Lhasa Apso/Shih', 'Aus Shep/Heeler/Ret', 'Labrador/Collie', 'Basenji', 'Cockerpoo', 'Podenao Port', 'Pekingese/Poodle', 'Irish Red And White Setter', 'Cockachon', 'Taiwan Mountain Dog', 'Miniature Dachshund', 'Huckapoo', 'Pinscher-Chih', 'Irish Wolfhound', 'Peruvian Inca Orchid', 'Barbet', 'Canaan', 'Cirneco Dell', 'Pyrenean Shepherd', 'Havanese/Poodle', 'Yorkie-Maltese', 'Pug/Chihu/Pomer', 'Schnauzer, Standard', 'Pumi', 'Belgian Tervuren', 'Olde English Bull Dog', 'Peke A Ppp', 'Keeshond', 'Pom-Chi', 'Maltese/Poodle', 'Otterhound', 'Blue Heeler', 'Beagle-Pei', 'Black Lab Multi', 'Collie, Smooth Coat', 'Ridgeback/Rottweiler', 'Dachshund/Beagle', 'Cocker Poo', 'Walker Hound', 'Am Staffordshire Terr', 'Giant Schnoodle', 'Maltese/Pomeranian', 'Leonberger', 'Mountain Feist', 'Spanador', 'Samoyed', 'Bullmastiff', 'Shar-Pei, Chinese', 'Biewer Terr', 'Greyhound', 'W High Wt Terr', 'Germ Shep/Husky', 'Pomeranian-Maltese', 'Japanese Spitz', 'Portuguese Podengo Pequeno', 'Jindo', 'Pekingese', 'Doberman Pinscher', 'Schnauzer-Poodle', 'Anatolian Shepherd Dog', 'Frend Poo', 'Bracco Italiano', 'Slovensky Cuvac', '6152012', 'Teddy-Bear', 'Miniature Pinscher', 'Lagotto Romagnolo', 'Yorkie-Shih Tzu', 'Dachshun/Chihua', 'Pom / Yorkie', 'Lhasa/Malt', 'Bernedoodle', 'Eng Setter', 'Weimaraner', 'Rhodesian Ridgeback', 'Cokaspinial Poodle', 'Sheltie', 'Lhasa-Bijon', 'Treeing Tennessee Brindle', 'Spitz', 'Petersburg Orchid', 'Lhasa Apso', 'Retriever/Chow', 'Portuguese Sheepdog', 'Hound-Cattle Dog', 'Kishu Ken', 'English Foxhound', 'Australian Labradoodle', 'Harrier', 'Basenji/Whippet', 'Brittany', 'Old English Sheepdog', 'Lab Retriver + Pitt Bull', 'Maltese-Shihtzu', 'Boggle', 'Pomsky', 'English Springer Spaniel', 'Russian Wolfhound', 'Chih/Poo', 'Doxie', 'Lhasa Apso Miix', 'Mahshih', 'Brussel Griffon', 'Shihchon', 'Schnocker', 'Belgian Malinois', 'Coocker-Poo', 'Shipa', 'Kooikerhondje', 'Schanuzer/Yorkie', 'Collie/Retriever', 'Chow Chow/ Lab', 'Hound/Lab', 'Dalmatian', 'Yorkishireterrier/ Maltese Morkie', 'Hava Poo', 'Jackabee /Russ', 'Scottish Deerhound', 'Red Poodle', 'Chinese Shar-Pei', 'Saluki', 'Ori-Pei', 'Chesapeake Bay Retriever', 'Beagle/English Bull Dog', 'Aussie Cattle Dog Heeler', 'Malt Poodle', 'Shetland Sheepdog', 'Boxer', 'Westiepoo', 'Welsh Corgi, Cardigan', 'Poochon'}

In [31]:
df.to_csv('Cleaned_NYC_Dog_License.csv', index=False, encoding='utf-8-sig')