In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('NYC_Dog_Licensing_Dataset_.csv')

/var/folders/v2/9k8drrwj5h39kpr935vvx6j80000gn/T/ipykernel_25590/3073573986.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('NYC_Dog_Licensing_Dataset_.csv')

In [4]:
df.dtypes

AnimalName             object
AnimalGender           object
AnimalBirthYear        object
BreedName              object
ZipCode               float64
LicenseIssuedDate      object
LicenseExpiredDate     object
Extract Year            int64
dtype: object

In [5]:
print("Total rows:", len(df))

Total rows: 722864

In [6]:
df.head(100)

,AnimalName,AnimalGender,AnimalBirthYear,BreedName,ZipCode,LicenseIssuedDate,LicenseExpiredDate,Extract Year
0,PAIGE,F,2014,American Pit Bull Mix / Pit Bull Mix,10035.0,09/12/2014,09/12/2017,2016
1,YOGI,M,2010,Boxer,10465.0,09/12/2014,10/02/2017,2016
2,ALI,M,2014,Basenji,10013.0,09/12/2014,09/12/2019,2016
3,QUEEN,F,2013,Akita Crossbreed,10013.0,09/12/2014,09/12/2017,2016
4,LOLA,F,2009,Maltese,10028.0,09/12/2014,10/09/2017,2016
...,...,...,...,...,...,...,...,...
95,SPUDS,M,2010,Bulldog,10461.0,09/17/2014,09/17/2017,2016
96,BOO,F,2013,Labradoodle,11211.0,09/17/2014,09/17/2019,2016
97,SAMMY,M,2006,Shiba Inu,10011.0,09/17/2014,10/31/2016,2016
98,MAX,M,2005,Pug,10025.0,09/17/2014,10/30/2016,2016
99,WALTER,M,2010,American Pit Bull Terrier/Pit Bull,11375.0,09/17/2014,05/17/2019,2016

In [7]:
df.keys()

Index(['AnimalName', 'AnimalGender', 'AnimalBirthYear', 'BreedName', 'ZipCode',
       'LicenseIssuedDate', 'LicenseExpiredDate', 'Extract Year'],
      dtype='object')

### üõ†Ô∏è Step 1: Fix the Data Types for Each Column

Ensure all columns have the correct data types to support accurate analysis:
- Convert dates (e.g., `LicenseIssuedDate`) to `datetime`
- Convert numeric values (e.g., `AnimalBirthYear`) to `int`
- Convert `ZipCode` to string to preserve leading zeros and allow proper grouping

In [8]:
# Convert dates to datetime
df['LicenseIssuedDate'] = pd.to_datetime(df['LicenseIssuedDate'], errors='coerce')
df['LicenseExpiredDate'] = pd.to_datetime(df['LicenseExpiredDate'], errors='coerce')

In [9]:
# Convert birth year to numeric
df['AnimalBirthYear'] = pd.to_numeric(df['AnimalBirthYear'], errors='coerce')

In [10]:
# Convert zip code to string so we can group by it without decimal places
df['ZipCode'] = df['ZipCode'].astype('Int64').astype(str)

In [11]:
df['BreedName'] = df['BreedName'].str.strip()
df['AnimalGender'] = df['AnimalGender'].str.strip()

In [12]:
df.dtypes

AnimalName                    object
AnimalGender                  object
AnimalBirthYear              float64
BreedName                     object
ZipCode                       object
LicenseIssuedDate     datetime64[ns]
LicenseExpiredDate    datetime64[ns]
Extract Year                   int64
dtype: object

### Step 2: Check for Full Row Duplicates

Instead of checking for duplicates column by column (which might drop valid but similar entries like dogs with the same name), we checked for **exact duplicate rows**. 

For example, there might be two dogs named Luna, but they could have different birth years, breeds, or license dates, so we **only dropped rows that were completely identical across all columns**, ensuring no meaningful data was lost.

In [13]:
df.duplicated().sum()

np.int64(40545)

In [14]:
df = df.drop_duplicates()

In [15]:
df.duplicated().sum()

np.int64(0)

In [16]:
print("Total rows:", len(df))

Total rows: 682319

### üêæ Step 3: Create Age Groups for Dogs

We used the `ApproxDogAge` column to categorize dogs into meaningful life stages. This helps support business questions about age distribution and trends.

We defined age bins as follows:
- `0‚Äì1` ‚Üí Puppy  
- `2‚Äì3` ‚Üí Young  
- `4‚Äì6` ‚Üí Adult  
- `7‚Äì10` ‚Üí Senior  
- `10+` ‚Üí Elderly  

We also ensured proper display by replacing any special en dashes (‚Äì) with regular hyphens (-) to avoid formatting issues in Excel.

In [17]:
df['LicenseIssuedYear'] = df['LicenseIssuedDate'].dt.year
df['ApproxDogAge'] = df['LicenseIssuedYear'] - df['AnimalBirthYear']

In [18]:
df['DogAgeGroup'] = pd.cut(
    df['ApproxDogAge'],
    bins=[0, 1, 3, 6, 10, 20],
    labels=['0-1 (Puppy)', '2-3 (Young)', '4-6 (Adult)', '7-10 (Senior)', '10+ (Elderly)'],
    include_lowest=True
)
# Clean encoding for Excel display
df['DogAgeGroup'] = df['DogAgeGroup'].str.replace('-', '-', regex=False)

### Step 4: Identify and Handle Missing Values

We checked for missing data across all columns to understand where information was incomplete.

Key findings:
- `AnimalName` had 1,709 missing entries ‚Äî we decided to keep these since a name doesn't affect license validity.
- `AnimalGender`, `AnimalBirthYear`, and `LicenseExpiredDate` had fewer missing values but were important for analysis.

To maintain data quality:
- We dropped rows where **any of these 3 key columns** were missing:  
  `AnimalBirthYear`, `LicenseExpiredDate`, `AnimalGender`.

In [19]:
df.isnull().sum()

AnimalName            1709
AnimalGender            21
AnimalBirthYear         30
BreedName                0
ZipCode                  0
LicenseIssuedDate        0
LicenseExpiredDate      79
Extract Year             0
LicenseIssuedYear        0
ApproxDogAge            30
DogAgeGroup            423
dtype: int64

In [20]:
df[df[['AnimalBirthYear', 'LicenseExpiredDate', 'AnimalGender']].isnull().any(axis=1)].shape[0]

130

This step removed 130 rows, ensuring our data remains reliable for further analysis.

In [21]:
# Keep only rows where all three of these values are filled in. Otherwise, lose 130 rows! 
df = df.dropna(subset=['AnimalBirthYear', 'LicenseExpiredDate', 'AnimalGender'])

In [22]:
print("Total rows:", len(df))

Total rows: 682189

### Step 5: Clean Invalid ZIP Codes

To ensure accuracy in geographic analysis, we filtered the ZIP codes so that only valid entries remain.

- A valid NYC ZIP code must be **5 digits** long.
- Some rows had invalid or missing ZIP codes (like `0`, `100`, or empty), which we removed.

In [23]:
df['ZipCode'] = df['ZipCode'].astype(str)
df = df[df['ZipCode'].str.len() == 5]

In [24]:
print("Total rows:", len(df))

Total rows: 681852

### Step 6: Validate Extract Year

We found rows where the `Extract Year` didn't make logical sense. For example, if a dog's license expired in 2021 but the extract year was 2022, that implies the license was still active ‚Äî which can't be true.

‚úÖ Our fix:
- We ensured the extract year falls between the license issue and license expiration years

In [25]:
# Extract the year from issued and expired dates
df['IssueYear'] = df['LicenseIssuedDate'].dt.year
df['ExpireYear'] = df['LicenseExpiredDate'].dt.year

# Keep only rows where extract year is between issue and expire years
df = df[
    (df['Extract Year'] >= df['IssueYear']) &
    (df['Extract Year'] <= df['ExpireYear'])
]

In [26]:
#its redundant
df = df.drop(columns=['LicenseIssuedYear'])

We wanted to identify how many "bad" or placeholder dog names exist in the dataset. While we are not deleting them, since they aren‚Äôt directly related to our business question, we aimed to avoid unnecessary data loss and maintain as much usable information as possible.

In [27]:
# no name 
df['AnimalName'] = df['AnimalName'].str.upper()
#a list of names that are bad
bad_names = {
        'NAME', 'NAME NOT PROVIDED', 'NAME?', 'NAMEME',
    'NO NAME', 'NONAME', 'UNNAME', 'WHATSHERNAME', '.', '2'
}

df['AnimalName'] = df['AnimalName'].fillna('').str.strip()

df['IsBadName'] = df['AnimalName'].isin(bad_names)

# Count total unusable and usable names
bad_name_count = df['IsBadName'].sum()
usable_name_count = (~df['IsBadName']).sum()

print(f"Unusable dog names: {bad_name_count}")
print(f"Usable dog names: {usable_name_count}")

Unusable dog names: 9220
Usable dog names: 543765

In [28]:
import re

# Replace all variations with the word "Mix"
df['BreedName'] = (
    df['BreedName']
    .str.replace(r'\b(Mix|Crossbreed|Cross|X)\b', 'Mix', regex=True)  # standardize
    .str.replace(r'\s+', ' ', regex=True)  # remove double spaces
    .str.strip()  # trim leading/trailing space
    .str.title()  # format like "Poodle Mix"
)

airedale: airedale terrier

In [29]:
from thefuzz import process

# unique_breeds = df['BreedName']
unique_breeds = df['BreedName'].dropna().astype(str).unique()
# choose a reference list of "cleaned" breeds
reference_breeds = [
    'Airedale Terrier', 'Airedale Terrier Mix',
    'American Eskimo Mix', 'American Ekimo',
    'American Pit Bull Terrier Mix',
    'American Staffordshie Terrier','American Staffordshie Terrier Mix',
    'Australian cattle dog', 'Basset Hound', 'Australian Shepherd', 'Berger Picard', 
    'Bichon Poodle', 'Bichon Shih Tzu', 'Bichon Frise', 'Yorkie Bichon', 'Catahoula leopard',
    'Cavalier King Charles Spaniel', 'Chihuahua', 'Chihuahua Mix', 'long-haired Chihuahua', 'Border Collie',
    'Coton de Tulear','Cockapoo', 'Toy Australian Shepherd', 'Dachshund smooth coat', 'Golden Retrievers', 'Goldendoodle', 'Miniature Goldendoodles',
    'chinese crested', 'German Shepherd', 'Corgi German Shepherd', 'Husky German Shepherd', 'jack russell chihuahua', 'labrador retriever', 'Yorkie Poodle',
    'Spanish Water Dog', 'small munsterlander', 'Shorkie', 'Shitzu Poodle', 'Pitbull pointer', 'Teacup Poodle', 'Pekapoo', 'jack russell',
    'Lhasapoo', 'Maltipoo', 'mini pinscher', 'Mixed', 'mini labradoodle', 'Westiepoo' 
]
breed_map = {}
for breed in unique_breeds:
    match, score = process.extractOne(breed, reference_breeds)
    if score >= 85:  # Match threshold
        breed_map[breed] = match

# Step 5: Apply cleaned breed names ‚Äî fallback to original if no match
df['CleanedBreedName'] = df['BreedName'].apply(lambda x: breed_map.get(x, x))

# Step 6 (optional): Check unmatched entries
unmatched_breeds = set(unique_breeds) - set(breed_map.keys())
print(f"\n‚úÖ Total unique breeds: {len(unique_breeds)}")
print(f"üü° Matched breeds: {len(breed_map)}")
print(f"‚ùå Unmatched breeds (still messy): {len(unmatched_breeds)}")
print(unmatched_breeds)

‚úÖ Total unique breeds: 1137
üü° Matched breeds: 675
‚ùå Unmatched breeds (still messy): 462
{'Borzoi', 'Multi', 'Akita', 'Saluki', 'Coonhound, Black And Tan', 'Not Provided', 'Finnish Spitz', 'Lab Terr X', 'Bulldog', 'Lab Bord Collie', 'Maltese/Poodle', 'Brussel Griffon', 'Lhasa Apso /Shih Tzu', 'Rhodesian Ridgeback', 'Chow Chow/ Lab', 'Irish Red And White Setter', 'Pembroke Welsh Corgi', 'Portuguese Water Dog', 'Irish Jack Russ', 'W High Wt Terr', 'Maltese / Poo', 'French Poodle', 'Lhatese', 'Cavachon', 'Eurasier', 'Saint Bernard', 'Shetland Sheepdog', 'Harrier', 'Chi-Poo', 'Shih Tzu / Yorkie', 'Taiwan Mountain', 'Podenao Port', 'Fox/Sheltie', 'Xoloitzcuintli', 'Whippet', 'Chow Chow', 'Ori-Pei', 'Presa Canario', 'Dachshund, Wirehaired', 'Yorkshire Terri', 'Mastiff', 'Chi-Yorkie', 'Jack Rus Chihua', 'Chihua/Ter/Dsch', 'Norwegian Elkhound', 'Retriever/Chow', 'Great Dane', 'Dachshund, Long Haired', 'French Bulldog', 'Lhasa Apso Miix', 'Collie, Smooth Coat', 'Ridgeback/Rottweiler', 'Collie/Retriever', 'Biewer Terr', 'Doberman Pinscher', 'Malsish', 'Kromfohrlander', 'Chinook', 'Miniature Pinscher', 'Greyhound', 'Maltese/Pomeranian', 'Afghan Hound', 'Lab Weimarner', 'Sheltie Poo', 'Olde English Bulldogge', 'Boerboel', 'English Pointer', 'Lowchen', 'Dachshaun/Poodle', 'Fox Hound', 'Belgian Sheepdog', 'Slorky', 'Shiht-Zu Imperial', 'Lagotto Romagnolo', 'Malte-Poo', 'Jindo Dog, Korea', 'Eng Springer Spaniel', 'Aust.Cattle Dog', 'Schnauzer', 'Bergamasco', 'Redbone Coonhound', 'Malshipoo', 'Mudi', 'Hound/Lab', 'Terr / Shep', 'Huckapoo', 'Giant Schnoodle', 'Snoodle', 'Schnocker', 'Italian Spinone', 'English Pug', 'Westie-Poodle', 'Hamiltonstovare', 'Perro De Presa Canario', 'Lab Gold Ret Cross', 'Schnauzer, Miniature', 'Newfoundland', 'Hunting Dog/Rescue', 'Aus Shep/Heeler/Ret', 'Germ Shep/Siberian Husky', 'Schnauzer-Poodle', 'Cava-Poo', 'Leonberger', 'Breed ?', 'Portuguese Podengo Pequeno', 'Maltese-Shihtzu', 'Schnauzer, Standard', 'Otterhound', 'Havapeke', 'Baladi', 'Dach / Chih', 'Shorky', 'Belgian Malinois', 'Coocker-Poo', 'Maltese / Shih Tzu', 'Entlebucher Mountain Dog', 'Coonhound, Blue Tick', 'Maltese/Yorkie', 'Bluetick Coonhound', 'Spitz', 'Blue Heeler', 'Bernedoodle', 'Beagle/Hound', 'Scott Terr/Shih Tsu', 'Jap Chin / Maltese', 'Papitese', 'Coonhound, Redbone', 'Pinscher-Chih', 'Belgian Laekenois', 'Lhasa Apso/Terr', 'Barbet', 'Spanador', 'Stabyhoun', 'Eng Setter', 'Cattle Dog - Blue Healer', 'Ori Pei', 'Shih Tzu/Yorkie', 'Austrian Hunting', 'Bichon/Cairn', 'Poodle/Westie', 'West High White Terrier', 'Engish Pointer', 'Shihmalt', 'Cavazoo', '6152012', 'Royal Bah Potca', 'Havashire', 'Brauzer', 'Shepherd Pintzer', 'Pom-Chi', 'Havanese/Poodle', 'Shiba Inu', 'Cane Corso', 'Multi-Poo', 'Shi-Poo', 'Havachon', 'Pug/Chihu/Pomer', 'Puli', 'Cardigan Welsh Corgi', 'Pekingese/Poodle', 'Curly-Coated Retriever', 'British Lab', 'Tosa', 'Maltese/Cav Kin', 'Frend Poo', 'Labrador/ Shih Tzu', 'English Setter', 'Morkie', 'Min Pi N/Poodle', 'Cavapoo', 'Beagle', 'Shihchon', 'Schipperkee', 'Bearded Collie', 'Polanese', 'Blackmouthcur', 'Lhasa Apso/Shih', 'Poochon', 'Hovawart', 'Unknown', 'Anatolian Shepherd Dog', 'Cockalier', 'Germ Shep/Husky', 'Dachs/Shih Tzu', 'Basenji', 'Briard', 'Vizsla', 'Chintese', 'Bernese Mountain Dog', 'Icelandic Sheepdog', 'Shihtese', 'Chih Terr', 'Mastiff, Tibetan', 'Bost Terr/Lhasa', 'Azawakh', 'Westminster Ter', 'Boston Bulldog', 'Dachshund-Scottie', 'Teddy Bear', 'Keeshond', 'Yorkie/Shih Tzu', 'Chinese Shar-Pei', 'Yorkie/ Maltese', 'Canine', 'Havapoo', 'Cav Kc', 'Jindo', 'Maltese Shihtzu', 'Alaskan Klee Kai', 'Boxer/Pitt', 'Labrador/G.Shep', 'Shih Tzu/Maltese', 'Hound Mastiff', 'Whoodle', 'Spinone Italiano', 'Gold Retr/Chow', 'Cockerpoo', 'Brussels Griffon', 'Cirneco Dell', 'Belgian Griffon', 'Cigi', 'Thai Ridgeback', 'Samoyed', 'Lhasa Apso', 'Beagle/English Bull Dog', 'English Shepher', 'Mi-Ki', 'Golden Retr/Cattle Dog', 'Hava Poo', 'Shih Tzu/Papillion', 'Polish Lowland Sheepdog', 'Welsh Corgi, Cardigan', 'Treeing Tennessee Brindle', 'Cocker Poo', 'Red Poodle', 'Peek-A-Poo', 'Mountain Feist', 'Rottweiler', 'Mini Aust.Shepherd', 'Beagle / Dachshund', 'Irish Wolfhound', 'Mini Bulldog', 'Shipa', 'Maltese/Havanese', 'Pumi', 'Bracco Italiano', 'Blue Heeler / Schnauser', 'Am Staffordshire Terr', 'Shiffon', 'Japanese Spitz', 'Hound Beagle', 'Askal', 'German Pinscher', 'Malkie', 'Cokaspinial Poodle', 'Pomeranian-Maltese', 'Great Pyrenees', 'Schnauzer, Giant', 'Brittany', 'Malt Poodle', 'Olde English Bull Dog', 'Weimaraner', 'Australian Labradoodle', 'Affenpinscher', 'Shihtzu-A-Poo', 'Giant Schnauzer', 'Smooth Hair Fox Terrier', 'Shep/Doxie', 'Kuvasz', 'Dachshun/Chihua', 'Cocoer-Poo', 'Westi-Poo', 'Boxer', 'Bloodhound', 'Plott', 'Boggle', 'Miniature Dachshund', 'Teddy-Bear', 'Shinese', 'Shicon', 'Collie, Rough Coat', 'Labrado/Great D', 'Sheltie', 'Lhasa Apso/Poodle', 'Collie / Lab', 'Mahshih', 'English Springer Spaniel', 'Labrador/Cattle Dog', 'Sharpei / Puggle', 'Dogo Argentino', 'Pug-Bijon', 'Potcake', 'Beagle-Pei', 'Miniature Schnauzer', 'Cockachon', 'Dogue De Bordeaux', 'Scottish Deerhound', 'Dachshund / Doxie', 'Pomsky', 'Lhasa/Malt', 'Mastiff/Shepherd', 'Poodle/Pompoo', 'Kishu Ken', 'Boston Terr/Min Boxer', 'Maltese/Poodle,Toy', 'Papillon', 'Hound-Cattle Dog', 'Doberman', 'Standard Poodle', 'Sharpei-Beagle', 'Welsh Corgi, Pembroke', 'Malti-Shi', 'Pharoh Hound', 'Peek -A-Poo', 'Yorky', 'Wirehaired Pointing Griffon', 'Karelian Bear Dog', 'Black And Tan Coonhound', 'Maltese/ Yorkie', 'Chesapeake Bay Retriever', 'Schanuzer/Yorkie', 'Morky', 'Spinone', 'Neapolitan Mastiff', 'Schnauzer/Poodle', 'Yorki-Poo', 'Cavashon', 'English Foxhound', 'Maltese/Shih Tzu', 'Jackabee /Russ', 'Chih/Poo', 'Bouvier Des Flandres', 'Yorkiepoo', 'Other', 'French Bulldog/Pug', 'French Beagle', 'Cur', 'Hungarian Puli', 'Swedish Vallhund', 'Puggle', 'Yorkshi/Maltese', 'Kooikerhondje', 'Shih/Maltese', 'Havanese', 'Canaan', 'Pompoo', 'Maltes/Shih Tzu', 'Taiwan Mountain Dog', 'Schipperke', 'Walker Hound', 'Lhasa Apso/Pood', 'Norwegian Buhund', 'Red Tick Coonhound', 'Wirehaired Vizsla', 'Unknown (Stray)', 'Poodle, Standard', 'Rat Terr', 'Pom / Yorkie', 'English Cocker Spaniel', 'Cocker-Poo', 'Mastiff, Neapolitan', 'Beauceron', 'Coonhound, Treeing Walker', 'Collie, Bearded', 'Petersburg Orchid', 'Mini Doberman', 'Westiepoo', 'Greek Shephard', 'Corgy / Labrador', 'Australian Kelpie', 'Shihpoo', 'Estrela Mountain Dog', 'Maltese-Pomeranian', 'Pug', 'Lhasa-Bijon', 'Treeing Walker Coonhound', 'Maltese/Shitzu', 'Pomtese', 'Ibizan Hound', 'Pek-A-Tese', 'Blue Nose Pitbull', 'Bugg', 'Peruvian Inca Orchid', 'Formosan Mountain', 'Portuguese Sheepdog', 'Yorkie/Maltese', 'Gordon Setter', 'Finnish Lapphund', 'Slovensky Cuvac', 'Jack Russ / Chih', 'Yorkshire/Maltese', 'Black Lab Multi', 'Flat-Coated Retriever', 'Lancashire Heeler', 'Yorkieshire Maltese', 'Labrador/Collie', 'Peke-A-Poo', 'Maltese', 'Mini Golden Doodle', 'Nova Scotia Toller', 'Old English Sheepdog', 'Breed Information Not Provided.', 'Collie / Retreiver', 'Fila Brasileiro', 'Yellow Lab', 'Softc Wheat Ter', 'Irish Setter', 'Aussie Cattle Dog Heeler', 'Pyrenean Mastiff', 'Chi/Doxen', 'Pekingese', 'Tibetan Mastiff', 'Pug/Beagle', 'Peke-A-Tese', 'Standard Schnauzer', 'Yorkie Rat Terr', 'Pomeranian', 'Sapsal, Korea', 'Schnoodle', 'Am Eskimo / Maltese', 'Bullmastiff', 'Poodle, Miniature', 'Chiweenie', 'Part Golden Retriever', 'Bolognese', 'Pyrenean Shepherd', 'Shar-Pei, Chinese', 'Doxie', 'Mastiff, Old English', 'Yorkishireterrier/ Maltese Morkie', 'Japanese Chin/Spaniel', 'Peke A Ppp', 'Belgian Tervuren', 'Mutt', 'Pharaoh Hound', 'Russian Wolfhound', 'Podengo Pequeno', 'Yorkie-Shih Tzu', 'Polish Hound', 'No Idea', 'Alaskan Malamute', 'Cross Breed', 'Dalmatian', 'Zuchon', 'Lab/Doberman/Sheepdog', 'Basenji/Whippet', 'Japanese Chin', 'Pomapoo', 'Italian Greyhound', 'Yorkie-Maltese', 'Havadoodle', 'Bichon F/T Pdle', 'Peagle', 'Jagdterrier', 'St. Bernard', 'Welsh Springer Spaniel', 'Lab Retriver + Pitt Bull', 'Dachshund/Beagle', 'Pitbull-Bulldog', 'Peak-A-Poo', 'English Mastiff', 'Kai Ken'}

In [30]:
df.to_csv('Cleaned_NYC_Dog_License.csv', index=False, encoding='utf-8-sig')